DJANGO_SECRET_KEY=something-secure-and-not-this-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"

POSTGRES_USER=memo
POSTGRES_PASSWORD=password
POSTGRES_DB=memo_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
