# Django + Django Rest Framework
asgiref==3.11.1
Django==6.0.3
djangorestframework==3.17.1
sqlparse==0.5.5

# Python Dotenv
python-dotenv==1.2.2

# Psycopg (PostgreSQL)
psycopg2-binary==2.9.11
psycopgbinary==0.0.1
